<html>

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>C-Alert System</title>
    <meta name="Nova theme" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/style.css" />
    <link rel="stylesheet" href="../static/assets/css/responsive.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>

<body>
    <!-- Navigation
    ================================================== -->
    <div class="hero-background">
        <div>
            <img class="strips" src="../static/assets/images/strips.png">
        </div>
        <div class="container">
            <div class="header-container header">
                <a href="calert.html">
                    <button class="header-btn"> C-ALERT Sytsem</button>
                </a>
                <div class="header-right">
                    <a class="navbar-item" href="index">Home</a>
                    <a class="navbar-item" href="about">About</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item-text" href="#">Text Link</a>
                        <span class="dropdown-item-text">Just Text</span>
                    </div>
                </div>
            </div>
            <!--navigation-->


            <!-- Hero-Section
          ================================================== -->

            <div class="hero row">
                <div class="hero-right col-sm-6 col-sm-6">
                    <h1 class="header-headline bold"> Let's Catch Suspicious Behavior<br></h1>
                    <h4 class="header-running-text light"> A top notch system for theif detection.</h4>
                    <button class="hero-btn btn-light" aria-expanded="false"> START</button>
                </div>
                <!--hero-left-->
                <div class=" col-sm-6 col-sm-6 ipad">
                    <img class="ipad-screen img-responsive" src="../static/assets/images/cctv.jpg" />
                </div>
            </div>
            <!--hero-->

        </div>
        <!--hero-container-->

    </div>
    <!--hero-background-->


    <!-- Features
  ================================================== -->

    <div id="features" class="features-section">

        <div class="features-container row">

            <h2 class="features-headline light">FEATURES</h2>

            <div class="col-sm-4 feature">

                <div class="feature-icon feature-no-display">
                    <img class="feature-img" src="../static/assets/images/responsive.svg">
                </div>
                <h5 class="feature-head-text feature-no-display"> VARIOUS USES </h5>
                <p class="feature-subtext light feature-no-display"> Can be used in Banks, Malls, Shops, Streets and
                    Houses.</p>
            </div>

            <div class="col-sm-4 feature">
                <div class="feature-icon feature-no-display feature-display-mid">
                    <img class="feature-img" src="../static/assets/images/customizable.svg">
                </div>
                <h5 class="feature-head-text feature-no-display feature-display-mid"> SECURITY </h5>
                <p class="feature-subtext light feature-no-display feature-display-mid"> Can easily record and detect
                    the suspicious behavior.</p>
            </div>

            <div class="col-sm-4 feature">
                <div class="feature-icon feature-no-display feature-display-last">
                    <img class="bullet-img" src="../static/assets/images/design.svg">
                </div>
                <h5 class="feature-head-text feature-no-display feature-display-last"> EASY DETECTION </h5>
                <p class="feature-subtext light feature-no-display feature-display-last"> Location can be easily
                    detected</p>
            </div>
        </div>
        <!--features-container-->
    </div>
    <!--features-section-->

    <!-- White-Section
  ================================================== -->

    <div class="white-section row">

        <div class="imac col-sm-6">
            <img class="imac-screen img-responsive" src="../static/assets/images/detect.jpg">
        </div>
        <!--imac-->

        <div class="col-sm-6">

            <div class="white-section-text">

                <h2 class="imac-section-header light">SAFE WORLD</h2>

                <div class="imac-section-desc">

                    <span>Burglary being the serious problem can be easily detected by our application.
                        This application will help to reduce burgulary to some extent by analysing and alerting. It
                        detects the
                        suspicious behavior such as opening of a door with some tools, trying to enter in the house by
                        climbing walls. We can also send the location to the near by police station or the owner.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--white-section-text-section--->

    <!-- Footer
  ================================================== -->

    <div class="footer">

        <div class="container">
            <div class="row">

                <div class="col-sm-2"></div>

                <div class="col-sm-8 webscope">
                    <span class="webscope-text"> EASY DETECTION C-ALERT SYSTEM. </span>
                </div>
            </div>
            <!--row-->

        </div>
        <!--container-->
    </div>
    <!--footer-->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="../static/assets/js/script.js"></script>

</body>

</html>